<h1>Liste des catways</h1>

<a href="/catways/create">Créer un catway</a>

<table border="1">
  <tr>
    <th>Numéro</th>
    <th>Type</th>
    <th>État</th>
    <th>Actions</th>
  </tr>

  <% catways.forEach(c=> { %>
    <tr>
      <td>
        <%= c.catwayNumber %>
      </td>
      <td>
        <%= c.catwayType %>
      </td>
      <td>
        <%= c.catwayState %>
      </td>
      <td>
        <a href="/catways/<%= c.catwayNumber %>">Voir</a>
        <a href="/catways/<%= c.catwayNumber %>/edit">Modifier</a>
        <form action="/catways/<%= c.catwayNumber %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Supprimer</button>
        </form>
      </td>
    </tr>
    <% }) %>
</table>